[Desktop Entry]
X-SnapInstanceName=kicad
Version=1.0
Terminal=true
Icon=kicad.svg
Type=Application
Categories=Science;Electronics;
Exec=gnome-terminal -- bash -c '$HOME/kicad-projects.sh'
Keywords=Projectmanager;
Name=KiCad-Projects
GenericName=EDA Suite
Comment=Suite of tools for schematic design and circuit board layout

